{% extends 'common/base.html' %}
{% block page_content %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-5">
                        <img src="{{ object.cover_image.url }}" alt="cover image" style="max-width: 300px">
                    </div>
                    <div class="col-md-7">
                        <div>
                            <h2>{{ object.title }}</h2>
                            <h4>Author : {{ object.author }}</h4>
                            <h5>Category: {{ object.category }}</h5>
                            <h5>${{ object.price|floatformat:2 }}</h5>
                            <div>
                                {% if object.quantity > 0 %}
                                    <h6>Availability: <span id="in-stock">In Stock</span></h6>
                                    {% if not request.user.is_staff %}
                                        <a class="btn btn-warning" href="{% url 'add to cart' object.pk %}">Add to
                                            Cart </a>
                                    {% endif %}
                                {% else %}
                                    <h6>Availability: <span id="out-of-stock">Out of Stock</span></h6>
                                {% endif %}
                            </div>
                            <div>
                                {% if request.user.is_staff %}
                                    <a class="btn btn-warning" href="{% url 'edit book' object.pk %}">Edit</a>
                                    <a class="btn btn-danger" href="{% url 'delete book' object.pk %}">Delete</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <h2>Annotation</h2>
                <div>
                    <p>{{ object.annotation }}</p>
                </div>
            </div>
        </div>
    </div>



{% endblock %}
