{% extends 'common/base.html' %}
{% block page_content %}
    {% load static %}

    {% include 'common/messages.html' %}

    <div id="books-header">
        <a href="{% url 'show books' category='all' %}">
            Books
        </a>
        {% if not category == 'all' %}
            <a href="{% url 'show books' category %}">
                <i class="bi-chevron-right"></i> {{ category }}
            </a>
        {% endif %}
    </div>

    <div class="container">
        <div class="row">

            <div class="col" id="categories">
                <h5>Categories</h5>
                <div class="list-group">
                    {% for category in category_list %}
                        <a href="{% url 'show books' category.category_name %}"
                           class="list-group-item list-group-item-action">
                            {{ category.category_name }}
                        </a>
                    {% endfor %}
                </div>
            </div>

            <div class="col" id="books">
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    {% for book in object_list %}
                        <div class="col">
                            <div class="card h-100" id="book-hover">
                                <a href="{% url 'book details' book.pk %}">
                                    <img src="{{ book.cover_image.url }}" class="card-img-top" alt="Cover">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title">{{ book.title }}</h5>
                                    <p class="card-text">{{ book.author }}</p>
                                </div>
                                <div>
                                    <div class="card-bottom"><h5>${{ book.price|floatformat:2 }}</h5>
                                    </div>
                                    {% if book.quantity > 0 and not request.user.is_staff %}
                                        <div class="card-bottom"><a href="{% url 'add to cart' book.pk %}">
                                            <img id="cart-image" src="{% static 'images/cart.png' %}" alt="Cart"></a>
                                        </div>
                                    {% else %}
                                        <div class="card-bottom"><a class="btn disabled" href="javascript:void(0)">
                                            <img id="cart-image" src="{% static 'images/cart.png' %}" alt="Cart"></a>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                {% include 'common/pagination.html' %}

            </div>
        </div>
    </div>

{% endblock %}

