div.col {
    max-width: 220px;
}

.container {
    background-color: bisque;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 50px;
    max-width: 1200px;
}

.card-bottom {
    display: inline-block;
}

.card-bottom:first-child {
    width: 120px;
    margin-left: 5px;
}

.card-bottom:last-child {
    width: 50px;
    margin-bottom: 5px;
}

a.disabled {
    padding: 0px 0px 0px 0px;
}

#cart-image {
    width: 35px;
}

#dropdown-position {
    margin-right: 25px;
}

#profile-details {
    width: 600px;
    margin: 50px 400px 75px;
}

#firstname {
    margin-left: 30px;
}

#lastname {
    margin-left: 30px;
}

#profile-email {
    margin-left: 67px;
}

#profile-phone {
    margin-left: 58px;
}

.pagination {
    width: 400px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.media {
    display: flex;
}

.media-image {
    margin-right: 35px;
    max-width: 100px;
}

.media-body p:first-child {
    font-size: 23px;
}

.media-body p:nth-child(2) {
    font-size: 18px;
}

.media-body p:nth-child(2) span {
    color: dimgray;
}

.close-btn {
    border-radius: 50%;
}