/*Site header*/
.site-header {
    background: linear-gradient(rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.6)),
    url("/static/images/site-header.jpg") no-repeat center;
    background-size: cover;
}

.site-header h1 {
    margin: 0;
    padding: 200px 0 20px 100px;
    max-width: 450px;
    color: white;
    font-size: 60px;
    letter-spacing: 2px;
}

.site-header h5 {
    margin: 0;
    padding: 0 0 120px 100px;
    max-width: 500px;
    color: white;
    font-size: 25px;
}

.site-header span {
    font-weight: bold;
    font-size: 30px;
}

/*Books on home page*/
.container {
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 10px;
    max-width: 1200px;
}

.col {
    max-width: 220px;
}

/*Books page*/
#categories {
    width: 250px;
}

#categories > h5 {
    font-weight: bold;
    color: navy;
}

.list-group-item {
    color: dimgray;
}

#books-header {
    margin-top: 20px;
    margin-left: 85px;
}

#books-header a {
    text-decoration: none;
    color: dimgray;
    font-size: 20px;
}

#books {
    max-width: 950px;
}

.card-bottom {
    display: inline-block;
}

.card-title {
    font-size: 18px;
}

.card-text {
    font-size: 15px;
    font-weight: bold;
}

.card-bottom:first-child {
    width: 120px;
    margin-left: 5px;
}

.card-bottom:last-child {
    width: 50px;
    margin-bottom: 5px;
}

a.disabled {
    padding: 0 0 0 0;
}

#cart-image {
    width: 35px;
}

#book-hover:hover {
    background-color: #eee;
}

.pagination {
    width: 400px;
    margin-top: 30px;
    margin-bottom: 30px;
}

/*Navbar*/
#dropdown-position {
    margin-right: 25px;
}

/*Profile details*/
#profile-details {
    width: 600px;
    margin: 50px 400px 75px;
}

#firstname {
    margin-left: 30px;
}

#lastname {
    margin-left: 30px;
}

#profile-email {
    margin-left: 67px;
}

#profile-phone {
    margin-left: 58px;
}

/*Cart*/
.media {
    display: flex;
}

.media-image {
    margin-right: 35px;
    max-width: 100px;
}

.media-body p:first-child {
    font-size: 23px;
}

.media-body p:nth-child(2) {
    font-size: 18px;
}

.media-body p:nth-child(2) span {
    color: dimgray;
}

.close-btn {
    border-radius: 50%;
}

/*Book details*/
#in-stock {
    color: green;
    font-weight: bold;
}

#out-of-stock {
    color: red;
    font-weight: bold;
}