{% load static %}
{% load user_order_books %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link zzz" href="{% url 'show books' category='all' %}">Books</a>
                </li>
                {% if request.user.is_staff %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'add book' %}">Add Book</a>
                    </li>
                {% endif %}
            </ul>
        </div>
        <div id="dropdown-position">
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    {% if not request.user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login user' %}">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'register user' %}">Register</a>
                        </li>
                    {% else %}
                        {% if not request.user.is_staff %}
                            <li id="bag-li">
                                <a class="nav-link" href="{% url 'order details' request.user.pk %}">
                                    <img id="bag-image" src="{% static 'images/shopping-bag.png' %}" alt="shopping-bag">
                                    {% if request.user|count %}
                                        <span id="bag-number">
                                            {{ request.user|count }}
                                        </span>
                                    {% endif %}
                                </a>
                            </li>
                        {% endif %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="javascript:void(0)" id="navbarDropdownMenuLink" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                Hello, {{ request.user }}
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li>
                                    <a class="dropdown-item" href="{% url 'profile details' request.user.pk %}">Profile
                                        Details</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{% url 'edit profile' request.user.pk %}">
                                        Edit Profile</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{% url 'change email' request.user.pk %}">Change
                                        Email</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{% url 'change password' %}">Change Password</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{% url 'logout user' %}">Logout</a>
                                </li>
                            </ul>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</nav>