{% extends 'common/base.html' %}
{% load static %}
{% block page_content %}

    <div class="container">
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Product</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Total</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                {% for item in ordered_books %}
                    <tr>
                        <td>
                            <div class="media">
                                <div>
                                    <img class="media-image" src="{{ item.book.cover_image.url }}"
                                         alt="Book Cover">
                                </div>
                                <div class="media-body">
                                    <p>{{ item.book.title }}</p>
                                    <p>by <span>{{ item.book.author }}</span></p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <h5>${{ item.book.price|floatformat:2 }}</h5>
                        </td>
                        <td>
                            <div style="width: 95px">
                                <a class="cart-quantity" href="{% url 'remove from cart' item.pk %}">
                                    <img id="bag-image" src="{% static 'images/icons8-minus-48.png' %}"
                                         alt="shopping-bag">
                                </a>
                                <h5 class="cart-quantity">{{ item.quantity }}</h5>
                                <a class="cart-quantity" href="{% url 'add to cart' item.book.pk %}">
                                    <img id="bag-image" src="{% static 'images/icons8-plus-48.png' %}"
                                         alt="shopping-bag">
                                </a>
                            </div>
                        </td>
                        <td>
                            <h5>${{ item.get_price|floatformat:2 }}</h5>
                        </td>
                        <td>
                            <a href="{% url 'remove from cart' item.pk %}">
                                <img id="bag-image" src="{% static 'images/icons8-cancel-50.png' %}" alt="shopping-bag">
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                {% if order.get_discount > 0 %}
                    <tr>
                        <td></td>
                        <td colspan="2">
                            <h5>Discount:</h5>
                        </td>
                        <td colspan="2">
                            <h5>${{ order.get_discount|floatformat:2 }}</h5>
                        </td>
                    </tr>
                {% endif %}
                <tr>
                    <td></td>
                    <td colspan="2">
                        <h5>Subtotal:</h5>
                    </td>
                    <td colspan="2">
                        <h5>${{ order.get_final_price|floatformat:2 }}</h5>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a class="btn btn-light" href="{% url 'show books' category='all' %}">Continue Shopping</a>
                    </td>
                    <td></td>
                    <td></td>
                    <td colspan="2">
                        <a class="btn btn-warning" href="{% url 'finish order' order.pk %}">Finish Order</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


{% endblock %}